html {font-size: 62.5%;
    font-family: "微软雅黑 Light";/*10 ÷ 16 × 100% = 62.5%*/}
.base{
    text-align: center;
    background-color: #F0F0F0;
}
.offset-5{
    margin-top: 0.5rem;
}

.offset-10{
    margin-top: 1.0rem;
}

.offset-15{
    margin-top: 1.5rem;
}

.offset-20{
    margin-top: 2rem;
}

.margin-5{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.gray-line{
    background-color: #F0F0F0;
    height: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.dot-line{
    height: 2rem;
    width: 100%;
    background: url("../img/dot-line.png") repeat-x;
    background-size: contain;
}
.org-name-title{
    font-size: 1.8rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    line-height: 5rem;
}

.my-modal-dialog{
    width: 90%;
    height: 50%;
    vertical-align: middle;
}

.my-modal-content{
    width: 100%;
    height: 100%;
}

.my-modal-title{
    font-size: 1.6rem;
    color: #8c8c8c;
    text-align: left;
}

.my-modal-body{
    padding: 1.5rem 4.5rem;
    font-size: 1.4rem;
    color: #000000;
    background-color: #ffffff;
}

.my-modal-textarea{
    height: 26rem;
    width: 27.6rem;
}

.my-panel{
    text-align: left;
    background-color: #FFFFFF;
    margin: 0.4rem 0;
    padding: 1.5rem ;
}

.my-panel-title{
    font-size: 1.4rem;
    color: #000000;
}

.my-panel-content{
    font-size: 1.2rem;
    color: #8c8c8c;
    line-height: 1.8rem;
}

.text-center{
    text-align: center;
}

.headimg-round{
    border-radius: 50%;
}

.headimg{
    border-radius: 50%;
    width: 95%;
}

.headimg-lg{
    max-width: 100%;
    max-height: 100%;
}


.sub-comment-list{
    padding: 0;
}

.img-wrap{
    width: 100%; /* 这里设置占屏幕宽度百分比 */
    display: flex;
    flex-wrap: wrap;
}
/* 创建一个正方形容器 */
.img-container{
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    overflow:hidden;
    margin: 0;
    position:relative;
}

/* 采用绝对定位 */
.img-wrap img{
    width: 30%;
    height: 7rem;
    margin: 0.3rem;
}

.comment-pics{}

.inline-wrapper{
    width: 100%;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.list-container-white{
    background-color: #ffffff;
    padding: 1rem;
}

.my-page-header{
    padding: 3rem;
}

.my-page-title{
    font-size: 1.4rem;
    color: #000000;
}

.row-wrapper{
    background-color: #ffffff;
    padding: 1.5rem 2rem;
    line-height: 2.4rem;
}

.list-item-content{
    font-size: 1.3rem;
    color: #646464;
    font-weight: normal;
    font-family: "微软雅黑";
    line-height: 2.4rem;
}

.list-item-content-title{
    font-size: 1.4rem;
    font-weight: normal;
    color: black;
}


.no-padding{
    padding: 0rem;
}

.no-padding-right{
    padding-right: 0rem;
}

.no-padding-left{
    padding-left: 0rem;
}

.padding-left-15{
    padding-left: 1.5rem;
}

.padding-right-15{
    padding-left: 1.5rem;
}
.pointable{
    cursor: pointer;
}

.btn-order{
    border-radius: 0.5rem;
    background-color: #ff7709;
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    padding: 0.5rem 1rem;
    border: none;
}
.bottom-single-btn{
    cursor: pointer;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    background-color: #20b49a;
    color: #ffffff;
    font-size: 1.6rem;
}

.bottom-multiple-btn{
    cursor: pointer;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    background-color: inherit;
    font-size: 1.6rem;
    border-top: solid 0.1rem #d0d0d0;
}

.bottom-btn-item{
    cursor: pointer;
    bottom: 0;
    position: relative;
    height: 5rem;
    line-height: 5rem;
    background-color: #20b49a;
    font-size: 1.6rem;
    color: #ffffff;
    border: none;
}

.user-name{
    font-size: 1.5rem;
    line-height: 2rem;
    color: #000000;
}

.line-height-24{
    line-height: 2.4rem;
}

.my-textarea{
    appearance: none;
    -webkit-appearance: none;   /*去除chrome浏览器的默认下拉图片*/
    -moz-appearance: none;  /*去除Firefox浏览器的默认下拉图片*/
    border-radius: 0px;
    padding: 0.5rem 1rem;
    margin: 0rem;
    border: none;
    width: 100%;
}

.level-star{
    height: 1.5rem;
    width: 1.5rem;
}

.price{
    font-size: 1.6rem;
    font-weight: 600;
    color: #ff7800;
    text-align: center;
}

.way-border{
    border: 0.1rem solid #269abc;
    color: #269abc;
    border-radius: 5px;
    text-align: center;
    padding: 0.3rem;
    line-height: 1.8rem;
}

.btn-pill{
    border: 0.1rem solid #269abc;
    color: #269abc;
    border-radius: 15px;
    text-align: center;
    padding: 0.1rem 1rem;
    line-height: 2.4rem;
    height: 2.6rem;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}

.btn-pill:focus, .btn-pill:hover, .btn-pill:active {
    color: #23527c;
    text-decoration: underline;
}

.btn-pill-icon-left{
    margin-right: 0.4rem;
    line-height: 2.2rem;
}

.border-pill{
    border: 0.1rem solid #888888;
    color: #888888;
    border-radius: 15px;
    text-align: center;
    padding: 0rem 1rem;
    line-height: 2.4rem;
    min-height: 2.6rem;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}
.border-pill-active {
    border: 0.1rem solid #20b49a;
    color: #20b49a;
    border-radius: 15px;
    text-align: center;
    padding: 0rem 1rem;
    /*line-height: 2.4rem;*/
    /*height: 2.6rem;*/
    font-size: 1.2rem;
    margin-left: 0.5rem;
}



.time{
    color: #8c8c8c;
    font-size: 1.2rem;
}

.comment-content{
    color: #000000;
    font-size: 1.2rem;
}
.comment-btns{
    justify-content: flex-end;
}

.btn-usual{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #ffffff;
    background-color: #20b49a;
    font-size: 2.6rem;
    border: none;
    border-radius: 30px;
    padding: 1rem 3rem;
}