* {margin:0;padding:0;}
#mobile-menu {
    position:fixed;
    top:0;
    left:0;
    width:220px;
    height:100%;
    background-color:#f7f7f7;
    z-index:9999;
}
a:hover ,a:focus{
    text-decoration:none
}
.mobile-nav ul li a {
    color:gray;
    display:block;
    padding:1em 5%;
    border-top:1px solid #4f4f4f;
    border-bottom:1px solid #292929;
    transition:all 0.2s ease-out;
    cursor:pointer;}
#mobile-menu {
    position:fixed;
    top:0;
    left:0;
    width:220px;
    height:100%;
    background-color:#f7f7f7;
    z-index:9999;
    transition:all 0.3s ease-in;}
.mobile-nav ul li a:hover {
    background-color: #23A1F6;
    color: #ffffff;
}
.show-nav {transform:translateX(0);}
.hide-nav {transform:translateX(-220px);} /*侧滑关键*/
.mobile-nav-taggle {
    height:35px;
    line-height:35px;
    width:35px;
    background-color:#9acfea;
    color:#ffffff;
    display:inline-block;
    text-align:center;
    cursor:pointer;
    border-radius: 0 0 30% 30%;
}
.nav.avbar-inverse{position:relative;}
.nav-btn {
    position:absolute;
    left:1rem;
    top:0rem;
    z-index:10000;
}

.nav-title{
    font-size: 1.2rem;
    color: #000000;
    line-height: 2.4rem;
}

.nav-pill {
    color: #8c8c8c;
    font-size: 1.2rem;
    padding: 0.2rem;
    line-height: 2.8rem;
}


.active {
    color: #269abc;
}

.my-slider-container{
    width: 100%;
}