body{
    background-color: #f5f5f5;
}
.state{
    border-top:1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
    padding-left: 95px;
    font-size: 0.7em;
    margin-bottom: 2.3em;
    width: 100%;
    padding-top:10px;
    padding-bottom:10px;
}

.name{
    padding-bottom: 5px;
}
p{
    padding-top: 5px;
    /*margin-left: 130px;*/
}
#mytab li{
    width:33%;
    text-align: center;
}

#mytab li a{
    font-size: 48px;
    padding-top:15px;
    height:110px;
    color: #56c078 !important;
    opacity: 0.7;
}

#mytab li.active a{
    font-size: 48px;
    padding-top:15px;
    height:110px;
    color: #56c078 !important;
    opacity: 1;
}
.ordertime{
    text-align: right;
    color: #9d9d9d;
}
.comment{
    height: 4%;
    background-color: #56c078;
    font-size: 40px;
    width: 100%;
    margin-bottom: -30px;
    color: white;
    margin-top: 30px;
    text-align: center;
    padding: 8px;
    font-weight: bold;
}
.line {
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    border-top: 2px solid #e0e0e0;
    font-size: 30px;
    margin-top: 30px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-top: 15px;
}
.rr {
    display: inline-block;
    font-size: 11px;
}
.name {
    display: inline-block;
}
.name h {
    font-size: 45px;
    padding-left: 8px;
}
.name span.price_span {
    color: orange;
    float: right;
    font-size: 40px;
    font-weight: 500;
    position: relative;
}
p {
    color: #9d9d9d;
    font-size: 35px;
}
.total {
    color: orange;
    font-size: 13px;
    margin-right: 170px;
    padding-top: 8px;
}
#h2 {
    color: #2993ff;
    font-size: 22px;
    font-weight: 500;
    margin-left: 170px;
}
button {
    background-color: #2993ff;
    color: #fff;
    margin-left: 270px;
}
.servicetime {
    margin-top: 30px;
    position: relative;
}
.serviceaddress {
    color: #9d9d9d;
    font-size: 35px;
    margin-top: 10px;
}
#img .icon-head {
    display: inline-block;
    padding: 0;
    text-align: center;
    width: 12%;
}
#img .icon-head p {
    font-size: 30px;
    height: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
}
#img .icon-head img {
    width: 100%;
}
.container {
    width: 95%;
}
.name {
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
}
.count {
    background-color: orange;
    border-radius: 12px;
    color: white;
    margin-left: 3%;
    padding: 0 5px;
}
#myTab .active {
    border-bottom: 5px solid #56c078;
}

.timee{
    /*margin-left: 160px;*/
    border-top: 1px solid #e0e0e0;
    margin-top: 30px;
    padding-top: 15px;
    font-size: 35px;
}
.firstOrder{
    position: absolute;
    top:0;
    right: 0;
    color: orange;
}
