<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.dao.MessageDao">


    <select id="getMessagesByUserId" resultType="com.xq.model.Message">
        SELECT id,message,is_read,time FROM message WHERE user_id=#{id}
    </select>

    <insert id="addMessage">
        INSERT INTO message(message,user_id,time) VALUES (#{message},#{userId},#{time})
    </insert>

    <insert id="addMessageAdmin">
        INSERT INTO message_admin(message,time) VALUES (#{message},#{time})
    </insert>

    <delete id="deleteMessage" parameterType="java.lang.Integer">
        DELETE FROM message WHERE id=#{messageId}
    </delete>
</mapper>
