<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.dao.OrderDao">

    <resultMap id="resultAllOrder" type="com.xq.model.Order">
        <id property="id" column="id"/>
        <result property="recoverOb" column="recover_ob"/>
        <result property="statusP" column="status_p"/>
        <result property="way" column="way"/>
        <result property="totalpay" column="totalpay"/>
        <result property="sTime" column="s_time"/>
        <result property="cid" column="cid"/>
        <result property="realpay" column="realpay"/>
        <result property="isFirst" column="is_first"/>
        <association property="teacher" javaType="com.xq.model.Teacher">
            <id property="id" column="tid"/>
            <result property="name" column="tName"/>
        </association>
    </resultMap>


    <select id="getAllOrderByOpenid" resultMap="resultAllOrder">
        SELECT o.id,o.recover_ob,o.status_p,o.way,o.totalpay,o.s_time,t.id tid,t.name tName,o.cid,o.realpay,o.is_first
        FROM orders o,parent p,sysuser u,teacher t
        WHERE u.openid=#{openid} AND u.id=p.userId AND t.id=o.teacher_id AND o.parent_id=p.id
        ORDER by s_time DESC
    </select>
</mapper>
