<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.dao.UserDao">

    <select id="getUserByOpenid" resultType="com.xq.model.User" parameterType="java.lang.String">
        SELECT id FROM sysuser WHERE openid=#{openid}
    </select>

    <select id="getUserById" resultType="com.xq.model.User">
        SELECT * FROM sysuser WHERE id=#{id}
    </select>


</mapper>
